body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
.div-media-parcial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-av1, .div-av2, .div-av3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-parcial-inputs{
    display: flex;
    margin-bottom: 20px;
}
.resultado{
    margin-bottom: 10px;
}
.div-av3{
    margin-bottom: 20px;
}
.div-media-bimestral{
    display: none;
    flex-direction: column;
    align-items: center;
    border-top: solid black 1px;
}
.div-parcial-bimestral{
    border: solid 1px black;
    border-radius: 9px;
    width: 50vw;
}
.button-calcular{
    background-color: #044cf4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px #464646;
}
#botao-limpar{
    margin-top: 15px;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 10px #464646;
}